<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="AppId" value="c3aaffd1"/>
      <add key="AppKey" value="972a6acfeb3599644fc366e79010189e"/>
      <add key="RoadStatusBaseUri" value="https://ap i.tfl.gov.uk/Road/"/>
      <add key="HttpRequestTimeout" value="00:03:00"/>
    </appSettings>
</configuration>
